#header
  nav(class="nav-extended deep-purple" style="z-index: 22; position: absolute")
    span(class="nav-title") MongoSchema
    div(class="nav-content ")
      span(class="brand flow-text" style="margin-top: -5px")=title  
