doctype html
html
  head
    title=title
    link(rel="stylesheet" href="/css/master.css")
    script(src="/js/jquery-3.2.1.min.js")
    script(src="/js/materialize.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body(class="grey")
    block home
    block login
    block register
    block dashboard
