doctype html
html
  head
    title=title
    link(rel="stylesheet" href="/css/master.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="/js/jquery-3.2.1.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body(class="")
    block home
    block login
    block register
    block dashboard

    script(src="/js/client.js")
