extends layout
block login
  include header
  div(class="w3-container")
    label() Username
    input(type="text" name="username" placeholder="Username" class="w3-input")
    
    label() Password
    input(type="password" name="password" placeholder="Password" class="w3-input")
