extends home
block main
  h1 Welcome #{first_name} #{last_name}
  
  div(class="w3-card w3-padding w3-half")
    h3 LoginSchema
    p This is my project for a local user account using mongodb.
    p For this project I used...
    ol
      li Express
      li Mongoose
      li Pug
      li Body Parser
      li Cookie Parser
      li W3CSS
      li JQUERY
  
      
